<%- include('partials/header') %>

<div class="container">
    <div class="main-header yl-bg">
        <h1>My To-Do List</h1>
        <p><%= day %></p>
    </div>
    <div class="main-list">
        <% items.forEach ( item => { %>
        <form id="<%= item.id %>" action="" method="POST">
            <div class="list-item">
                <p class="list-item-p <%= item.complete ? 'fade' : '' %>"><%= item.name %></p>
                <div class="list-item-action">
                    <button name="<%= item.id %>"
                        class="complete-button <%= item.complete ? 'ticked' : '' %> btn sqr btn-sm clr-bg"><i
                            class="<%= item.complete ? 'fas fa-check-square' : 'far fa-check-square' %>"></i></button>

                    <button name="<%= item.id %>" class="delete-button btn sqr btn-sm clr-bg"><i
                            class="far fa-trash-alt"></i></button>
                </div>
            </div>
        </form>
        <% }) %>
    </div>
    <form action="/" method="POST" class="add-item-box row">
        <input class="main-input" type="text" name="newItem" placeholder="Type your task" autocomplete="off" required>
        <button class="btn rnd btn-lg yl-bg" type="submit" name="button">+</button>
    </form>
</div>

<%- include('partials/footer') -%>